
.footer-style {
    background-color:white;
    border: 1px solid #7890A3;
   
}
footer a, h6{
    color:#7890A3;
}
footer button{
    border-radius: 15px;
    height: 25px;
}
#custom-border{
    border-right: 2px solid #7890A3;
}


@media screen and (max-width: 768px) {
    #custom-border{
        border-right: none;
    } 
    .borde-bajo{
        border-bottom: 1px solid #7890A3;
    }  
}