
<!-- Footer -->
<footer class="footer-style font-small py-4 px-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md borde-bajo mb-md-0 mb-3">

            <!-- Links -->
            <h6 class="font-weight-bold">Información de la compañia</h6>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Sobre la compañía</a>
              </li>
              <li>
                <a href="#!">Nuestras oficinas</a>
              </li>
              <li>
                <a href="#!">Empleos</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md borde-bajo mb-md-0 mb-3">

            <!-- Links -->
            <h6 class="font-weight-bold">Nuestras membresias</h6>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Para usuarios</a>
              </li>
              <li>
                <a href="#!">Para tiendas</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->


          <!-- Grid column -->
          <div class="col-md borde-bajo mb-md-0 mb-3">

            <!-- Links -->
            <h6 class="font-weight-bold">Pago y envíos</h6>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Formas de pago</a>
              </li>
              <li>
                <a href="#!">Formas de envío</a>
              </li>
              <li>
                <a href="#!">Plazos</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->


          <!-- Grid column -->
          <div class="col-md  mb-md-0 mb-3" id="custom-border">

            <!-- Links -->
            <h6 class="font-weight-bold">Trabaja con nosotros</h6>

            <ul class="list-unstyled">
              <li>
                <button type="button" class="btn btn-warning btn-sm">Registra tu tienda</button>
              </li>
              <li>
                <a href="#!">Programa de mensajeros</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->


          <!-- Grid column -->
          <div class="col-md mb-md-0 mb-3">
            <div class="row text-center h-100 justify-content-center align-items-center" style="font-size: 40px;">
                <!--Facebook-->
                <div class="col-3">
                    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                </div>
                <!--Twitter-->
                <div class="col-3">
                    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                </div>
                <!--Youtube-->
                <div class="col-3">
                    <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-youtube"></i></a>
                </div>
            </div>
        </div>



          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
  </footer>
  <!-- Footer -->
