// tamaño de las letras

.letras{
    font-size: 30px;
    color: #7B90A3;
}

.letras:hover{
    color: #FAD000;
}


// Letras en tamaño responsive

@media screen and (max-width: 768px){
    .letras{
        font-size:20px;
    }

}


//colores del boton de iniciar Sesion
.botoninicio{
    background-color:#FAD000 ;
    border-radius: 15px;
    color:white;
}


// la columna que esta conteniendo todo
.columna{
    border-color: #7B90A3;
}




// prueba de navegacion
/* Tabs*/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#tabs{
	background: #007b5e;
    color: #eee;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
}


// el parrafo de aviso en el registro
.aviso{
    color: #7B90A3;

}


