
  <div class="container mt-5">
      <div class="row justify-content-center">
          <div class="col-sm col-xl-5 col-md-5 justify-content-center" >
              <!-- Bootstrap CSS -->
                <!-- jQuery first, then Bootstrap JS. -->
                <!-- Nav tabs -->
                <ul class="nav">
                    <li class="nav-item ">
                      <a class="nav-link btnencabezado" href="#registro" role="tab" data-toggle="tab" style="border-bottom-color: #7B90A3; border-bottom: 4px solid;">REGISTRO</a>
                    </li>
                    <li class="nav-item justify-content-end">
                      
                      <a class="nav-link active  btnencabezado" href="#sesion" role="tab" data-toggle="tab" style="border-bottom-color: #7B90A3; border-bottom: 4px solid; " >INICIAR SESION</a>
                    </li>
                   
                    
                  </ul>
                <br>
                
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade " id="registro">
                        
                            <label class="aviso">
                                <b> Atencion:</b>                                
                                
                                Es importante que ingrese datos veridicos
                                ya que estos seran usados para el envio de productos.
                            </label>
                            <div class="form-group">
                                <label for="formGroupExampleInput" class="aviso" >Nombres:</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" [(ngModel)]="nombres">

                                <label for="formGroupExampleInput" class="aviso">Apellidos:</label>
                                 <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" [(ngModel)]="apellidos">
                                 
                                 <div class="row">
                                     <div class="col">
                                        <label for="formGroupExampleInput" class="aviso">Fecha de nacimiento:</label>
                                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="dd/mm/aaaa" mask="00/00/0000" [(ngModel)]="fechadenacimiento">

                                     </div>

                                     <div class="col">
                                        <label for="formGroupExampleInput" class="aviso">Numero de telefono:</label>
                                        <input type="number" class="form-control" id="formGroupExampleInput" [(ngModel)]="numerodetelefono">
                                     </div>

                                 </div>

                                 
                                  <br>
                                  <div class="container" style="text-align: center;">
                                    <label for="formGroupExampleInput"><b class="aviso">Arrastra el puntero hasta la ubicacion exacta </b></label>
                                  </div>
                                 
                                  <!--la mapa de google-->

                                  <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="busca tu ciudad" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                                  
                                  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                                    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                                      (dragEnd)="markerDragEnd($event)"></agm-marker>
                                  </agm-map>

                                  <!--fin de la mapa-->
                                 <br>
                                 
                                 <label for="formGroupExampleInput" class="aviso" >Direccion:</label>
                                 <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" value="{{address}}" [(ngModel)]="direccion">
                                 
                                 <label for="exampleFormControlInput1" class="aviso">correo electronico: </label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ejemplo@gmail.com" [(ngModel)]="correo2">

                                
                                <label for="exampleInputPassword1" class="aviso" >Contraseña:</label>
                                <input type="password" class="form-control" [(ngModel)]="contrasena2">
                                <label for="exampleInputPassword1" class="aviso">Confirmar contraseña:</label>
                                <input type="password" class="form-control">
                                <br>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                  <label class="form-check-label" for="exampleCheck1" class="aviso">Acepto los <a href="" >terminos y condiciones</a> de privacidad </label>
                                </div>

                                <!-- routerLink="/verificarusuario" -->
                                <div class="d-flex justify-content-center">
                                  <button type="submit" class="btn botoninicio" (click)="registro()">REGISTRARME</button>               
                                  
                                  

                                </div>
                                
                                


                              
                              
                              
                                
                            </div>
                            
                            
                            
                          

                        

                      
                    </div>
                    <div role="tabpanel" class="tab-pane in active" id="sesion">
                        
                            <div class="form-group">
                              <label for="exampleInputEmail1" style="color:#7B90A3" >correo electronico</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ejemplo@gmail.com" [(ngModel)]="correo">
                              
                            </div>
                            <div class="form-group">
                              <label for="exampleInputPassword1" style="color:#7B90A3" >Contraseña</label>
                              <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="contrasena">
                            </div>
                            <br>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn botoninicio" (click)="iniciarsesion()">Iniciar Sesion</button>            
                                
                                
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="www.ayniscript.com" style="color:#009CC7">olvide mi contraseña</a>
                            </div>
                            
                         
                          

                    </div>


                    
                </div>

          </div>

       

      </div>
  </div>



 