

<div class="container">
    <div class=" encabezado row">
      <div class="font-weight-bold  carrito-compras col-12 col-sm-8">
        CARRITO DE COMPRAS
      </div>
      <div class="col-12 col-sm-4 procesos" style="text-align: right;">
        <img src="/assets/images/proceso.png" class="img-fluid mx-auto" style="height: 3rem;">
      </div>
    </div>
    <div class="row">
            <div class="col-12 col-sm-8 " >
                <div class="items">
                    <!--producto 1-->
                    <div class="Producto" style="border-bottom: 1px solid #7890A3; margin-top: 1rem; margin-bottom: 1rem;"  *ngFor="let product of coleccioncarrito"> 
                        <div class="row" >
                            <div class="col-lg-3 col-4">
                                <div class="imagen border" style="border-radius: 10%;"> 
                                    <img src="{{product.data.fotouno}}" class="img-fluid mx-auto d-block" style="height: 6.25rem;">

                                </div>
                            </div>
                            <div class="col-lg-4 col-8">
        
                                <div class="row" >
                                    <div class="col"><span class="font-weight-bold nombre-producto">{{product.data.titulo}}</span> </div>
                                    <div class="w-100"></div>
                                    <div class="col">
                                        <div class="row font-weight-bold" style="font-size: 1.2rem;">
                                            <div class="col"><span class="precio" >USD {{product.data.precio}}</span></div>
                                            
                                            <div class="col" *ngIf="product.data.descuento > 0"><span class="descuento">{{product.data.descuento}} % off</span></div>
                                        
                                         </div>
                                         
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col">
                                        <div class="row" >
                                            <div class="col"><label class="boton">{{product.data.etiquetacolor}}</label></div>
                                            <div class="col"><label class="boton">{{product.data.etiquetatalla}}</label></div>
                                        
                                         </div>
                                    </div>
            
                                    <div class="w-100"></div>
                                    <div class="col">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="materialChecked2">
                                            <label class="form-check-label" for="materialChecked2"><small>Personalizar dirección de envio</small></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-8">
                                <div class=" form-group cantidad d-flex h-100 text-right justify-content-center align-items-center">
                                    
                                    <mat-form-field style="width:80px">
                                        <mat-label class="titulocantidad">Cantidad :</mat-label>
                                        <mat-select value="{{product.data.cantidadpedida}}" (selectionChange)="selectcantidad($event.value, product.iud)">                                          
                                          <mat-option value="1">1</mat-option>
                                          <mat-option value="2">2</mat-option>
                                          <mat-option value="3">3</mat-option>
                                          <mat-option value="4">4</mat-option>
                                          <mat-option value="5">5</mat-option>
                                          <mat-option value="6">6</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                        
                                                            
                                </div>
                            </div>
                            <div class="col-lg-1 col-4 " style="font-size: 25px;">
                                <div class="row text-center h-100 justify-content-center align-items-center">
                                    <div class="col">
                                        <a  class="btn-remove btn-outline" (click)="borrarproducto(product.iud)"><i class="fa fa-fw fa-trash" style="color: red;"></i></a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <!--producto 1-->





                    







    

                </div>

            </div>
        <!--ticket-->
        <div class="col pb-3" > 
            <div class="row justify-content-center " style="border-radius: 10px; border: 1px solid #7890A3;">
                <div class=" container" style="width: 90%;"  >
                    <h3 class="font-weight-bold" style="text-align: center;">TICKET</h3>
                    <div class="row" style="border-bottom:1px solid #7890A3;">
                        <div class="col-4 "><small class="font-weight-bold">Producto</small></div>
                        <div class="col-2 "><small class="font-weight-bold">Cant</small></div>
                        <div class="col-3 "><small class="font-weight-bold">P.Unidad</small></div>
                        <div class="col-3 "><small class="font-weight-bold">P.Total</small></div>
    
                    </div>
                    <div class="row" *ngFor="let product of coleccioncarrito">
                        <div class="col-4"><small>{{product.data.titulo}}</small></div>
                        <div class="col-2"><small>{{product.data.cantidadpedida}}</small></div>
                        <div class="col-3"><small>{{product.data.precio}}</small></div>
                        <div class="col-3"><small>{{product.data.cantidadpedida * product.data.precio | currency}}</small></div>
                    </div>
                   
                    <div class="font-weight-bold row" style="border-top: 1px solid #7890A3;" >
                        <div class="col-8">TOTAL</div>
                        <div class="col-4" style="text-align: center">{{ total | currency:'':symbol: '1.0-2' }}</div>
                    </div>
                    <button type="button" class="btn boton-procesar btn-warning btn-sm btn-block" (click)="verificarcorreo()">Procesar Pago</button>
                </div>
            </div>

        </div>
        <!--ticket-->
        
    </div>
</div>


<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>