$color-principal:#00B4CC ;
$amarillo:#FAD000;
$gris: #7B90A3;
$verde-azulado: #009CC7;

.container{
    color:#7B90A3;
}
.encabezado{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.3rem;
}

.boton{
    width: 90px;
    background-color:#77CEE9;
    border-radius: 10px;
    font-size: small;
    text-align: center; 
    color: white;

}
.quantity-input{
    display: inline-block;
    margin: 5px 10px;
}
.precio{
    color: red;

}
.descuento{
    color:#00607B;
}
.nombre-producto{
    font-size: 1.2rem;
}
.boton-procesar{
    border-radius: 15px; 
    margin-top: 70px; 
    margin-bottom: 30px; 
    font-weight: bold; 
    font-size: 1rem;
    text-transform: capitalize;

}

//este es el boton de adicionar
.botadicionar{
    background-color:$gris;
    color:white;
}

// estilo del texto titulo
.titulocantidad{
    color:#00607B;
    font-size:1.2rem;
}
@media screen and (max-width: 768px) {
    .procesos, .carrito-compras{
        display: flex;
        justify-content: center;
        align-items: center;
    } 

    
}