<div class="container">
    <div class=" encabezado row">
      <div class="font-weight-bold  carrito-compras col-12 col-sm-8">
        CARRITO DE COMPRAS
      </div>
      <div class="col-12 col-sm-4 procesos" style="text-align: right;">
        <img src="/assets/images/proceso.png" class="img-fluid mx-auto" style="height: 3rem;">
      </div>
    </div>
    <div class="row">
            <div class="col-12 col-sm-8 " >
                <div class="items">
                    <!--producto 1-->
                    <div class="Producto" style="border-bottom: 1px solid #7890A3; margin-top: 1rem; margin-bottom: 1rem;"> 
                        <div class="row">
                            <div class="col-lg-3 col-4">
                                <div class="imagen border" style="border-radius: 10%;"> 
                                    <img src="/assets/images/imgmodalg1.jpeg" class="img-fluid mx-auto d-block" style="height: 6.25rem;">

                                </div>
                            </div>
                            <div class="col-lg-4 col-8">
        
                                <div class="row">
                                    <div class="col"><span class="font-weight-bold nombre-producto">  Camisa Jhon Holden</span> </div>
                                    <div class="w-100"></div>
                                    <div class="col">
                                        <div class="row font-weight-bold" style="font-size: 1.2rem;" >
                                            <div class="col"><span class="precio">UDS 18.00</span></div>
                                            <div class="col"><span class="descuento">40% off</span></div>
                                        
                                         </div>
                                         
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col">
                                        <div class="row" >
                                            <div class="col"><label class="boton">Blanco</label></div>
                                            <div class="col"><label class="boton">S</label></div>
                                        
                                         </div>
                                    </div>
            
                                    <div class="w-100"></div>
                                    <div class="col">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="materialChecked2">
                                            <label class="form-check-label" for="materialChecked2"><small>Personalizar dirección de envio</small></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-8">
                                <div class=" form-group cantidad d-flex h-100 text-right justify-content-center align-items-center">
                                        <label class="quantity-input" for="quantity" >Cantidad:</label>
                                        <select class="form-control" id="quantity" style="width: 70px ;">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                        </select>                          
                                </div>
                            </div>
                            <div class="col-lg-1 col-4 " style="font-size: 25px;">
                                <div class="row text-center h-100 justify-content-center align-items-center">
                                    <div class="col">
                                        <a href="#" class="btn-remove btn-outline"><i class="fa fa-fw fa-trash" style="color: red;"></i></a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <!--producto 1-->

                    <div class="Producto" style="border-bottom: 1px solid #7890A3; margin-top: 1rem; margin-bottom: 1rem;"> 
                        <div class="row">
                            <div class="col-lg-3 col-4">
                                <div class="imagen border" style="border-radius: 10%;"> 
                                    <img src="/assets/images/zapatilla.png  " class="img-fluid mx-auto d-block" style="height: 6.25rem;">

                                </div>
                            </div>
                            <div class="col-lg-4 col-8">
        
                                <div class="row">
                                    <div class="col"><span class="font-weight-bold nombre-producto">  Camisa Jhon Holden</span> </div>
                                    <div class="w-100"></div>
                                    <div class="col">
                                        <div class="row font-weight-bold" style="font-size: 1.2rem;" >
                                            <div class="col"><span class="precio">UDS 18.00</span></div>
                                            <div class="col"><span class="descuento">40% off</span></div>
                                        
                                         </div>
                                         
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col">
                                        <div class="row" >
                                            <div class="col"><label class="boton">Blanco</label></div>
                                            <div class="col"><label class="boton">S</label></div>
                                        
                                         </div>
                                    </div>
            
                                    <div class="w-100"></div>
                                    <div class="col">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="materialChecked2">
                                            <label class="form-check-label" for="materialChecked2"><small>Personalizar dirección de envio</small></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-8">
                                <div class=" form-group cantidad d-flex h-100 text-right justify-content-center align-items-center">
                                    <label class="quantity-input" for="quantity" >Cantidad:</label>
                                    <select class="form-control" id="quantity" style="width: 70px ;">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                    </select>                          
                                </div>
                        
                            </div>
                            <div class="col-lg-1 col-4 " style="font-size: 25px;">
                                <div class="row text-center h-100 justify-content-center align-items-center">
                                    <div class="col">
                                        <a href="#" class="btn-remove btn-outline"><i class="fa fa-fw fa-trash" style="color: red;"></i></a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>




                    <div class="Producto" style="border-bottom: 1px solid #7890A3; margin-top: 1rem; margin-bottom: 1rem;"> 
                        <div class="row">
                            <div class="col-lg-3 col-4">
                                <div class="imagen border" style="border-radius: 10%;"> 
                                    <img src="/assets/images/zapatilla.png  " class="img-fluid mx-auto d-block" style="height: 6.25rem;">

                                </div>
                            </div>
                            <div class="col-lg-4 col-8">
        
                                <div class="row">
                                    <div class="col"><span class="font-weight-bold nombre-producto">  Camisa Jhon Holden</span> </div>
                                    <div class="w-100"></div>
                                    <div class="col">
                                        <div class="row font-weight-bold" style="font-size: 1.2rem;" >
                                            <div class="col"><span class="precio">UDS 18.00</span></div>
                                            <div class="col"><span class="descuento">40% off</span></div>
                                        
                                         </div>
                                         
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col">
                                        <div class="row" >
                                            <div class="col"><label class="boton">Blanco</label></div>
                                            <div class="col"><label class="boton">S</label></div>
                                        
                                         </div>
                                    </div>
            
                                    <div class="w-100"></div>
                                    <div class="col">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="materialChecked2">
                                            <label class="form-check-label" for="materialChecked2"><small>Personalizar dirección de envio</small></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-8">
                                <div class=" form-group cantidad d-flex h-100 text-right justify-content-center align-items-center">
                                    <label class="quantity-input" for="quantity" >Cantidad:</label>
                                    <select class="form-control" id="quantity" style="width: 70px ;">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                    </select>                          
                                </div>
                        
                            </div>
                            <div class="col-lg-1 col-4 " style="font-size: 25px;">
                                <div class="row text-center h-100 justify-content-center align-items-center">
                                    <div class="col">
                                        <a href="#" class="btn-remove btn-outline"><i class="fa fa-fw fa-trash" style="color: red;"></i></a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>




                    <div class="Producto" style="border-bottom: 1px solid #7890A3; margin-top: 1rem; margin-bottom: 1rem;"> 
                        <div class="row">
                            <div class="col-lg-3 col-4">
                                <div class="imagen border" style="border-radius: 10%;"> 
                                    <img src="/assets/images/zapatilla.png  " class="img-fluid mx-auto d-block" style="height: 6.25rem;">

                                </div>
                            </div>
                            <div class="col-lg-4 col-8">
        
                                <div class="row">
                                    <div class="col"><span class="font-weight-bold nombre-producto">  Camisa Jhon Holden</span> </div>
                                    <div class="w-100"></div>
                                    <div class="col">
                                        <div class="row font-weight-bold" style="font-size: 1.2rem;" >
                                            <div class="col"><span class="precio">UDS 18.00</span></div>
                                            <div class="col"><span class="descuento">40% off</span></div>
                                        
                                         </div>
                                         
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col">
                                        <div class="row" >
                                            <div class="col"><label class="boton">Blanco</label></div>
                                            <div class="col"><label class="boton">S</label></div>
                                        
                                         </div>
                                    </div>
            
                                    <div class="w-100"></div>
                                    <div class="col">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="materialChecked2">
                                            <label class="form-check-label" for="materialChecked2"><small>Personalizar dirección de envio</small></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-8">
                                <div class=" form-group cantidad d-flex h-100 text-right justify-content-center align-items-center">
                                    <label class="quantity-input" for="quantity" >Cantidad:</label>
                                    <select class="form-control" id="quantity" style="width: 70px ;">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                    </select>                          
                                </div>
                        
                            </div>
                            <div class="col-lg-1 col-4 " style="font-size: 25px;">
                                <div class="row text-center h-100 justify-content-center align-items-center">
                                    <div class="col">
                                        <a href="#" class="btn-remove btn-outline"><i class="fa fa-fw fa-trash" style="color: red;"></i></a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
    

                </div>

            </div>
        <!--ticket-->
        <div class="col pb-3" > 
            <div class="row justify-content-center " style="border-radius: 10px; border: 1px solid #7890A3;">
                <div class=" container" style="width: 90%;"  >
                    <h3 class="font-weight-bold" style="text-align: center;">TICKET</h3>
                    <div class="row" style="border-bottom:1px solid #7890A3;">
                        <div class="col-4 "><small class="font-weight-bold">Producto</small></div>
                        <div class="col-2 "><small class="font-weight-bold">Cant</small></div>
                        <div class="col-3 "><small class="font-weight-bold">P.Unidad</small></div>
                        <div class="col-3 "><small class="font-weight-bold">P.Total</small></div>
    
                    </div>
                    <div class="row">
                        <div class="col-4"><small>Camisa jhon holden</small></div>
                        <div class="col-2"><small>01</small></div>
                        <div class="col-3"><small>$18.00</small></div>
                        <div class="col-3"><small>$18.00</small></div>
                    </div>
                    <div class="row">
                        <div class="col-4"><small>Camisa jhon holden</small></div>
                        <div class="col-2"><small>01</small></div>
                        <div class="col-3"><small>$18.00</small></div>
                        <div class="col-3"><small>$18.00</small></div>
                    </div>
                    <div class="font-weight-bold row" style="border-top: 1px solid #7890A3;" >
                        <div class="col-8">TOTAL</div>
                        <div class="col-4" style="text-align: center">$100.00</div>
                    </div>
                    <button type="button" class="btn boton-procesar btn-warning btn-sm btn-block"routerLink="/confirmar-datos">Procesar Pago</button>
                </div>
            </div>

        </div>
        <!--ticket-->
        
    </div>
</div>

