
<div class="container pb-4">
    <div class="encabezado row">
        <div class="confirma-datos col-12 col-sm-8">
            <h2 class="font-weight-bold">LISTO</h2>
            <h6 class="font-weight-bold"><small> Compra exitosa, puedes imprimir tu recibo</small></h6>
        <!--
          <span class="font-weight-bold">LISTO</span><br>
          <small>Compra exitosa, puedes imprimir tu recibo</small> 
        -->
        </div>
        <div class="col-12 col-sm-4 procesos" style="text-align: right;">
          <img src="/assets/images/proceso2.png" class="img-fluid mx-auto" style="height: 3rem;">
        </div>
    </div>
 
    <div class="row pb-4" style="text-align: center;" > 
        <div class="col">
            <img src="/assets/images/marcairis.png" class="img-fluid mx-auto" style="height: 8rem;">
        </div>
    </div>

    <div class="row" style=" justify-content: center;">
        <div class="card border-info shadow" style="width: 30rem;">
            <div class="card-body  text-info recibo" *ngFor="let compra of coleccioncompras">
                <div class="row">
                    <div class="col-4 border">Nombre</div>
                    <div class="col-8 border">{{compra.data.nombre}} {{compra.data.apellido}}</div>
                    <div class="w-100"></div>
                    <div class="col-4 border">Telefono</div>
                    <div class="col-8 border">{{compra.data.telefono}}</div>
                    <div class="w-100"></div>
                    <div class="col-4 border">Dirección</div>
                    <div class="col-8 border">{{compra.data.direccion}}</div>
                </div>

            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="card border-info card-recibo shadow" style="width: 30rem;">
            <div class="card-body text-info">
                <div class="row" style="border-bottom:1px solid #7890A3;">
                    <div class="col-4 "><small class="font-weight-bold">Producto</small></div>
                    <div class="col-2 "><small class="font-weight-bold">Cant</small></div>
                    <div class="col-3 "><small class="font-weight-bold">P.Unidad</small></div>
                    <div class="col-3 "><small class="font-weight-bold">P.Total</small></div>
            
                </div>

                <div *ngFor="let product of coleccioncompras">
                    <div class="row" *ngFor="let item of product.data.productos">
                        <div class="col-4"><small>{{item.data.titulo}}</small></div>
                        <div class="col-2"><small>{{item.data.cantidadpedida}}</small></div>
                        <div class="col-3"><small>{{item.data.precio}}</small></div>
                        <div class="col-3"><small>{{item.data.cantidadpedida * item.data.precio | currency}}</small></div>
                    </div>

                </div>
                
                

                <div class="font-weight-bold row " style="border-top: 1px solid #7890A3;" >
                    <div class="col-8">TOTAL</div>
                    <div class="col-4" style="text-align: center">{{ total | currency:'':symbol: '1.0-2' }}</div>
                </div>
               
                <br>
                <div class="row ">
                    <div class="col-8 col-md-9 text-right"><strong>
                    Sub Total:<br>
                    Impuestos (IVA 12%):<br>                    
                    Servicio de entrega:<br>
                    total:
                    </strong></div>
                    <div class="col-4 col-md-3 text-left "><strong>
                    {{ subtotal | currency:'':symbol: '1.0-2' }}<br>
                    ${{impuestos}}<br>
                    ${{serviciodeentrega}}<br>
                    ${{total}}<br>
                    

                    </strong></div>
                </div>

                <div class="row justify-content-center">
                <button type="button" (click) ="generatePDF()"class="btn boton-procesar btn-warning btn-sm ">Imprimir recibo</button>
                </div>

            </div>
        </div>
    </div>
</div>

