<div id="content-wrapper" class="d-flex">
    <!--la parte del sidebar-->
    <div id="sidebar-container" class="bg-light border-right">
        <div class="logo">Templune</div>
        <br>
        <div class="menu list-group-flush">
            <a href="" class="list-group-item list-group-action bg-light p-3 border-0"><i class="fas fa-shopping-bag mr-2"></i>Ver mis ordenes</a>
            <a href="" class="list-group-item list-group-action bg-light p-3 border-0"><i class="fas fa-clipboard-list mr-2"></i>Mis listas</a>
            <a href="" class="list-group-item list-group-action bg-light p-3 border-0"><i class="fas fa-store-alt mr-2"></i>Ir a mi tienda</a>
            <a href="" class="list-group-item list-group-action bg-light p-3 border-0"><i class="fas fa-cog mr-2"></i>Configuracion</a>
            <a href="" class="list-group-item list-group-action bg-light p-3 border-0"><i class="fas fa-sim-card mr-2"></i>Mi plan</a>
            <a href="" class="list-group-item list-group-action bg-light p-3 border-0"><i class="fas fa-external-link-alt mr-2"></i>Cerrar Sesion</a>
        </div>
    </div>

    <!--la parte de los contenidos que tendra cada opcion-->
    <div id="page-container" class="w-100">
        

            <!--aca el boton se agrego el id que hara que colapse y funciona con un script que estara en el index.html-->
            <button id="menu-toggle" class="btn btn-primary text-primary">Abrir / cerrar button</button>

            
              
            

    </div>



</div>
