<nav class="navbar navbar-expand-lg" style="background-color: #00b6d6;">
  <div class="container todo">

    <a class="navbar-brand" href="#">
      <img src="/assets/images/boostrap.svg" width="50" height="50" alt="">
  </a>
<!-- Search form -->
    <input class="buscador form-control" type="text" placeholder="Search" aria-label="Search">
    
    &nbsp; &nbsp;&nbsp;
    <a class="navbar-brand" href="/carrito" matTooltip="MI CARRITO" matTooltipClass="example-tooltip-white">
      
      <img src="/assets/images/cart.svg" width="40" height="40" class="carrito" alt="">
            
     </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="display: flex; align-items: center; justify-content: center;"> <!--centrado absoluto-->       
        <i class="fa fa-bars"></i>
      </span>
    </button>
  
  

  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
     
      <!--
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      -->
     
      
        <a class="navbar-brand" href="#">
          &nbsp;&nbsp;
          <img src="/assets/images/tienda.svg" width="40" height="50" alt="">
          
          
          
       </a>
       <a class="navbar-brand" href="#">
        &nbsp;&nbsp;
        <img src="/assets/images/offers.svg" width="40" height="40" alt="">
               
       </a>

       <a class="navbar-brand usuario" href="#">
        <img src="/assets/images/user-circle.svg" width="40" height="40" alt="" data-toggle="popover"  data-placement="bottom" 
        data-content='
        
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://localhost:4200/registros" class="btn btn-warning sesion">Iniciar Sesion</a><br>
          ¿Eres nuevo? <a href="enlacepagina.html" class="enlaces">Registrate aqui</a><br>
          <hr>
          <a href="enlacepagina.html" class="enlaces">Preguntas Frecuentes</a> <br>
          <a href="enlacepagina.html" class="enlaces">Atencion al cliente</a>  <br>
          <a href="enlacepagina.html" class="enlaces">Ayuda</a>          '

          >
       
        
    </a>
  
       
     
    </div>
    

    
    


  </div>


  </nav>



     
        
        
    
     
        
     

    



