<!--este seccion envia un mensaje de felicitaciones
luego de aver introducido el codigo de verificacion para la tienda
-->

<br><br><br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm col-xl-7 col-md-7">
             <div style="text-align: center;">
                <i class="fas fa-check-circle" style="font-size: 55px; color: #FAD000;"></i><br>
                <a class="encabezado" style="color:#FAD000"><b>Perfecto tu tienda esta registrado</b></a><br>
                <a class="encabezadodos" style="color:#7B90A3">Sin embargo, para poder vender debes esperar que nuestro equipo revise tus documentos</a>
                <br>
                <a href="" class="buton"><u>INICIAR</u></a>
    
                
             </div>    
            
        </div>
    </div>


</div>
