
    
// tamaño de las letras
$coloryelow:#FAD000;

//----titulo----------
.titulo{
    color: $coloryelow;
    font-size: 168%;
    font-weight: 800;
}

.border-bottom{
    color: $coloryelow;
}

// titulo en responsive
@media screen and (max-width: 768px){
    .titulo{
       font-size:120%;
    }
    .enlace{
        //font-size: 100%;
        text-align: center;
        margin: 0;
    }

}
//--fin titulo------
//---lenguaje de entrada--
$custom-file-text: (
en: "Browse",
es: "Elegir"
);


//colores del boton de iniciar Sesion
.botonregistrarme{
    background-color:$coloryelow;
    border-radius: 15px;
    //letra
    color:white;
}


// la columna que esta conteniendo todo
.columna{
    border-color: #7B90A3;
}

// el parrafo de aviso en el registro
.aviso{
    color: #7B90A3;

}


//tamño de la mapa
agm-map {
    height: 300px;
}

