
    
// tamaño de las letras
$coloryelow:#FAD000;
$colorpurple:#640dd6a9;
//----titulo----------
.titulo{
    color: $coloryelow;
    font-size: 168%;
    font-weight: 800;
}

.border-bottom{
    color: $coloryelow;
}

// titulo en responsive
@media screen and (max-width: 768px){
    .titulo{
       font-size:120%;
    }
    .enlace{
        //font-size: 100%;
        text-align: center;
        margin: 0;
    }

}
//--fin titulo------
//---lenguaje de entrada--
$custom-file-text: (
en: "Browse",
es: "Elegir"
);


//colores del boton de iniciar Sesion
.botonregistrarme{
    background-color:$coloryelow;
    border-radius: 15px;
    //letra
    color:white;
}


// la columna que esta conteniendo todo
.columna{
    border-color: #7B90A3;
}

// el parrafo de aviso en el registro
.aviso{
    color: #7B90A3;

}


//tamño de la mapa
agm-map {
    height: 300px;
}

//-----------------------------------dragz zone--------------------------------
/*  .dropzone { 
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    min-width: auto;
    font-weight: 200;
    height: 200px;
    border: 1px dashed $colorpurple;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
  
    input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
      }
    

    .file-label{
        
        color: white;
        width: 120px;
        height: 40px;
        border-radius: 21.5px;
        background-color: $colorpurple;
        padding: 7px;
                  
    }
    

    &.hovering {
        border: 2px solid $colorpurple;
        color: #dadada !important;
    }
  
    
  }
  
  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }
//--- --------------------------fin drag zone ---------------------------------- */