$color-principal:#00B4CC ;
$amarillo:#FAD000;
$gris: #7B90A3;
$verde-azulado: #009CC7;

body{
    color: $gris;
}

ng-sidebar-container{
    height: 100vh;
    background-color:rgb(231, 230, 230) ;
}

::ng-deep .ng-sidebar{

    background-color:white;
    width: 18rem;

}



// la lista  categorias

.list-item{
    font-size: 1rem;
}

.list-item:hover{
    a{
        color:white
    }
    background-color: $color-principal;
    
    color:white;

}
.menulink{
    color: $gris;
}
.menulink:hover{
    color:white;
    
}

.textoprecio{
    color: red;
    font-size: 1.3rem;

}

//icono carrito en los cards
.fas{
    color: $color-principal;
}

