$color-principal:#00B4CC ;
$amarillo:#FAD000;
$gris: #7B90A3;
$verde-azulado: #009CC7;


ng-sidebar-container{
    height: 100vh;
    background-color:rgb(231, 230, 230) ;
}

::ng-deep .ng-sidebar{

    background-color:white;
    width: 18rem;

}
.custom-checkbox{
    color: $gris;
}
h5{
    color: $gris;
}

// la lista 

.list-item{
    font-size: 1rem;
    //margin-left: 1rem;
    color:$gris;
}

.list-item:hover{
    a{
        color:white
    }
    background-color: $color-principal;
    
    color:white;

}

.menulink{
    color: $gris;
}
.menulink:hover{
    color:white;
    
}


