<div class="contenedor">
    <!--la seccion de productos-->
    <div class="row">
        <div class="col-6"><span class="titulo alinear">Productos</span> </div>
        <div class="col-6  d-flex justify-content-end"> 
          <button type="button" class="btn  btn-sm"  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><b>Agregar</b><i class="fas fa-plus ml-2 alinear"></i></button></div>
    </div>
    
        <div class="collapse" id="collapseExample">
            <div class="card card-body" style="border-radius: 2rem;">
                <!--contenido del formulario producto-->
              
               <div class="form-row">
                   <div class="col-sm-1 col" style="text-align: center">
                            <div class="border margencamera">
                                    <!--esta relacionado el input con el imagen-->
                                    <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>     
                                    <img [src]="photoSelected || '/assets/images/foto.png' " class="img-fluid" alt="No image" (click)="photoInput.click()"><br>                           
                                   
                                     
                            </div>
                    </div>
                   <div class="col-sm-1 col" style="text-align: center">
                        <div class="border margencamera">
                          <!--esta relacionado el input con el imagen-->
                          <input type="file" class="d-none" (change)="onPhotoSelected1($event)" #photoInput1>     
                          <img [src]="photoSelected1 || '/assets/images/foto.png' " class="img-fluid" alt="No image" (click)="photoInput1.click()"><br>                           
                         
                           
                        
                        </div>
                  </div>

                   <div class="col-sm-1 col" style="text-align: center">
                        <div class="border margencamera">
                          <!--esta relacionado el input con el imagen-->
                          <input type="file" class="d-none" (change)="onPhotoSelected2($event)" #photoInput2>     
                          <img [src]="photoSelected2 || '/assets/images/foto.png' " class="img-fluid" alt="No image" (click)="photoInput2.click()"><br>                       
                                              

                      </div>
                  </div>

                   <div class="col-sm-1 col" style="text-align: center">
                        <div class="border margencamera">
                          <!--esta relacionado el input con el imagen-->
                          <input type="file" class="d-none" (change)="onPhotoSelected3($event)" #photoInput3>     
                          <img [src]="photoSelected3 || '/assets/images/foto.png' " class="img-fluid" alt="No image" (click)="photoInput3.click()"><br>                           
                         
                           
                        

                      </div>
                  </div>    

                  
               </div>

              
                <br>
               <div class="row">
                   <div class="col-sm-5">
                        <span>Titulo de producto</span><br>
                        <input class="form-control" type="text" [(ngModel)]="titulo">
                        <span>Max 60 caracteres</span>
                   </div>
                   <div class="col-sm-3">
                        <span>Categoria</span><br>
                        <div class="form-group">                            
                            <select class="form-control" id="exampleFormControlSelect1" (change)="onChange($event.target.value)">
                              <option *ngFor="let categoria of collectionCategorias">{{categoria}}</option>                              
                            </select>
                          </div>
                          
                   </div>
                   <div class="col-sm-2">
                     <div *ngIf="estadosubcategoria">
                      <span>Sub categoria</span><br>
                      <div class="form-group">                            
                          <select class="form-control"  id="exampleFormControlSelect1" (change)="subCategoria($event.target.value)" >
                            <option  *ngFor="let sub of subcategoria">{{sub}}</option>                             
                          </select>
                        </div>

                     </div>
                    
                       
                   </div>
                   <div class="col-sm-2">
                        <span>Cantidad</span><br>
                        <input class="form-control" type="number"  [(ngModel)]="cantidad">

                   </div>
               </div>
                <br>
                <div class="row">
                  <div class="col-sm">
                    <span>altura (cm)</span><br>
                        <input class="form-control" type="number" [(ngModel)]="altura">


                  </div>
                  <div class="col-sm">
                    <span>Ancho(cm)</span><br>
                     <input class="form-control" type="number"  [(ngModel)]="ancho">

                  </div>
                  <div class="col-sm">
                    <span>Espesor(cm)</span><br>
                     <input class="form-control" type="number"  [(ngModel)]="espesor">

                  </div>
                  <div class="col-sm">
                    <span>peso(kg)</span><br>
                        <input class="form-control" type="number" [(ngModel)]="peso">

                  </div>

                  <div class="col-sm">
                    <span>Precio</span><br>
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">$</span>
                            </div>
                            <input type="number" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="precio">
                          </div>
                  </div>


                </div>

                <br>

                <div class="row">
                  <div class="col-sm-2">
                    <span>Tiempo de entrega</span><br>
                    <div class="form-group">                            
                      <select class="form-control" id="exampleFormControlSelect1" (change)="tiempoentrega($event.target.value)">
                        <option value=0 type="number">mismo dia</option> 
                        <option value=1 type="number">1 dia</option>   
                        <option value=2 type="number">2 a 3 dias</option>
                        <option value=3 type="number">3 a 5 dias</option>
                        <option value=5 type= number>5 a 8 dias</option>                          
                      </select>
                    </div>

                  </div>

                  <div class="col-sm-4">
                    <span>Describe tu producto con etiquetas</span><br>
                    <mat-form-field class="example-chip-list">
                      <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip *ngFor="let fruit of fruits2" [selectable]="selectable2"
                                 [removable]="removable2" (removed)="remove2(fruit)">
                          {{fruit.name}}
                          <mat-icon matChipRemove *ngIf="removable2">cancel</mat-icon>
                        </mat-chip>
                        <input
                               [matChipInputFor]="chipList"
                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                               [matChipInputAddOnBlur]="addOnBlur2"
                               (matChipInputTokenEnd)="add2($event)">
                      </mat-chip-list>
                    </mat-form-field> 

                  </div>

                </div>
                <br>


                <div class="row">
                  
                  <div class="col-sm">
                    <!-- Default inline 1-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                          <input type="checkbox" class="custom-control-input" id="defaultInline1" (change)="color($event.target.value)">
                          <label class="custom-control-label" for="defaultInline1">Color</label>
                        </div>

                        <!-- Default inline 2-->
                        <div class="custom-control custom-checkbox custom-control-inline">
                          <input type="checkbox" class="custom-control-input" id="defaultInline2" (change)="talla($event.target.value)">
                          <label class="custom-control-label" for="defaultInline2">Talla</label>
                        </div>

                        
                  </div>
                  <div class="col-sm"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6" *ngIf="valorcolor">
                      
                        <span>Colores</span><br>
                        <mat-form-field class="example-chip-list">
                            <mat-chip-list #chipList aria-label="Fruit selection">
                              <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                                       [removable]="removable" (removed)="remove(fruit)">
                                {{fruit.name}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                              </mat-chip>
                              <input
                                     [matChipInputFor]="chipList"
                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                     [matChipInputAddOnBlur]="addOnBlur"
                                     (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                          </mat-form-field>

                    </div>
                    <!--tags de las tallas-->
                    <div class="col-sm-6" *ngIf="valortalla">
                         <span>Tallas</span><br>
                        <mat-form-field class="example-chip-list">
                            <mat-chip-list #chipList aria-label="Fruit selection">
                              <mat-chip *ngFor="let fruit of fruits1" [selectable]="selectable1"
                                       [removable]="removable1" (removed)="remove1(fruit)">
                                {{fruit.name}}
                                <mat-icon matChipRemove *ngIf="removable1">cancel</mat-icon>
                              </mat-chip>
                              <input
                                     [matChipInputFor]="chipList"
                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                     [matChipInputAddOnBlur]="addOnBlur1"
                                     (matChipInputTokenEnd)="add1($event)">
                            </mat-chip-list>
                          </mat-form-field> 

                    </div>
                </div>

                <br>
               <div class="row">
                   <div class="col-sm-2">
                    <span>Tipo de venta</span><br>
                    <div class="form-group">                            
                        <select class="form-control" id="exampleFormControlSelect1" (change)="tipoventa($event.target.value)">
                          <option value="normal">normal</option>
                          <option value="oferta">oferta</option>
                          <!-- <option value="gold">Para gold</option> -->
                          
                        </select>
                      </div>

                   </div>
                   <div class="col-sm" *ngIf="tipoVenta">
                        <span>% descuento(opcional)</span><br>
                        <input class="form-control" type="number" [(ngModel)]="porcentaje"  (ngModelChange)="Descuento($event)">

                   </div>
                   <div class="col-sm" *ngIf="tipoVenta">
                        <span>Precio con descuento</span><br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">$</span>
                            </div>
                            <input type="number" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="descuento" readonly="readonly">
                        </div>

                   </div>
                   <div class="col-sm-3">
                        

                   </div>
                   <div class="col-sm-3">
                        

                   </div>
               </div>

               <div class="row">
                
                    
                    <div class="col-sm-4">
                      <span>Ciudad disponible para la venta de producto</span><br>
                    <input class="form-control" type="text" [(ngModel)]="ciudadventa">

                    </div>
                

               </div>

               <div class="row">
                   <div class="col-sm-6 justify-content-center">
                       <span>Descripcion general</span>
                       <textarea class="form-control" rows="5" id="comment" [(ngModel)]="descripciongeneral"></textarea>
                   </div>
                   
               </div>
               <br>
               <!--contenido del formulario producto-->
               <div class="row">
                   <div class="col-sm" style="text-align: center">
                    <button type="button" class="btn agregar" (click)="agregarProducto()"><b>Agregar producto</b></button>
                   </div>

               </div>

            

                
                

            </div>
        </div>

    <!--fin seccion de productos-->

</div>

<br><br><br>


