
<!--------------------------------------------inicio del baner estatico----------------------->
<div class="container-fluid banner-tiendas  d-flex justify-content-center align-items-center  ">
    <div class="row container-svg d-flex justify-content-center align-items-center">
        <div class="col-2 col-xs-2 image-tienda " style="text-align: right;">
        <img src="/assets/images/store.svg" class="imagenTiendas" width="63" height="230">
        </div>
    <div class="col-10 col-xs-10 textos">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-8 col-xs-6 col-sm titulo-tienda">
            <h2 class="titulotienda">Tiendas oficiales</h2>
            </div>
            <div class="col-10 col-xs-6 col-sm texto-registro ">
            <p class="textoregistro">Si Tú no tienes una tienda, únete a nuestra comunidad de negocios online <a
                href="">Aquí</a></p>
            </div>
        </div>
    </div>
    </div>
</div>
<!--------------------------------------------inicio del baner estatico--------------------->



<div class="col" *ngFor="let cat of colleccionGeneral">
    <div class="container-fluid contenedor" >
        <div class="row">
        <div class="col-sm-3" > <span class="titulo">{{cat.categoria}}</span> </div>
        </div>
        <br>

        <div class="form-row ">
            <!------------------------------------------card new--------------------------------------->
            <div class="col-6 col-xs-4 col-sm-4 col-md-4 d-flex justify-content-center align-content-center" *ngFor="let tienda of cat.tiendas" >
                <div class="  mb-3 card-tiendas" style="max-width: 400px;">
                    <div class="row no-gutters ">
                        <div class=" col-md-2 d-flex cologo ">
                        <img src="{{tienda.data.foto1}}" class="card-img logo-circular" alt="...">
                        </div>
                        <!--------------------------------------card new1 ---------------------->
                        <div class="col-md-10  d-flex justify-content-center align-content-center" >
                            <div class="card ">
                                <!-- Card image -->
                                <img class="card-img-top rounded-0" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap">
                                <!-- Card content -->
                                <div class="card-body p-0 ">              
                                    <div class="form-row d-flex justify-content-center align-content-center">
                                        <div class="col col-sm-3 ml-0 col-delet ">col</div>
                                        <div class="col-12 col-sm-5 nombrelegal "> 
                                            <h6><small>{{tienda.data.nombrelegal}}</small></h6> 
                                        </div>
                                        <div class="col-12 col-sm-4  "> 
                                            <star-rating  class="estrellitas"  value="3" totalstars="5" checkedcolor="gold" uncheckedcolor="grey" size="16px" readonly="false" (rate)="onRate($event)"></star-rating>
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="col col-sm-3 col-delet "></div>
                                        <div class="col col-sm-5 col-delet  "><span><small>{{tienda.data.categoria}}</small></span></div>
                                        <div class="col-12 col-sm-4  smalldescrition">
                                            <a href=""> <small>Visitar tienda</small> </a>
                                        </div>
                                    </div>
                                </div>
                                <!--fin card content-->                
                        </div>
                        <!--------------------------------------card new1 ---------------------->
                    </div>
                </div>
            </div>
            <!------------------------------------------fin card new ------------------------------------>
                        
        </div>

    </div>
</div>





        
<!-----------------------------------------------otroo------------------------------------------>