<br><br><br><br><br>

<body style="height: 100vh;">
  <!--login modal-->
    <app-login></app-login>
    <!--fin login modal-->

    <div>
        <button type="button" class="btn btn-success" routerLink="/registros">formulario registro</button>

    </div>
   
    <br><br><br>

    <button type="button" class="btn btn-success " routerLink="/registrotienda">registrotienda</button><br>
    <button type="button" class="btn btn-success" routerLink="/verificartienda">verificar tienda</button>

    <br>

    <button type="button" class="btn btn-success" routerLink="/paneladministracion">panel de administracion</button>
  
</body>

