<br><br><br><br><br>
<app-post></app-post>

<div>
    <button type="button" class="btn btn-success" routerLink="/registros">Success</button>

</div>
<button type="button" class="btn btn-success" routerLink="/registros">Success</button>

<!--MODAL 1-->
<!-- 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#gridSystemModal">
    Launch demo modal
  </button>-->
  <!--inicio modal-->
  <div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel">
    <!--MODAL TAMAÑO GRANDE Y centrado verticalmente-->
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <!--div(header modal)-->
        <div class="modal-body">
          <div class="container login-container ">
           <button type="button" class="close closepequeño" data-dismiss="modal">&times;</button>
            <div class="row ">
              
                <div class="col-md-5 login-form-1 " >
                  
                  <div >
                    <h3 class="titulomodal1 text-center text-warning ">INICIAR SESIÓN</h3><hr class="espacio">
                    </div>
                    <br>
                    <form class="formgeneral" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
                        <div class="form-group">
                          <label for="InputEmail1">E-mail</label>
                          <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter Email *" value="" formControlName="email"/>
                        </div>
                        <div class="form-group">
                          <label for="InputPasword">Password</label>
                          <input type="password" class="form-control" placeholder="Enter Password *" value="" formControlName="password" />
                        </div>
                        
                        <div class="d-flex justify-content-center">
                          <button type="submit" class="btn btn-warning btn-rounded z-depth-1a">Iniciar Sesión</button>
                        </div>
                        
                        <div class="form-group text-center">
                            <a href="#" class="ForgetPwd">Olvide mi contraseña</a>
                        </div>
                        <br>
                        <div class="form-group text-center">
                          <label >¿Eres nuevo?<a href="#" class="NewUser">Registrate aquí</a></label>
                      </div>
                    </form>
                </div>
              
              <div class="col2 col-md-7 ">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img src="https://scontent-lim1-1.xx.fbcdn.net/v/t1.15752-9/98067443_1506307152871085_3778182717682745344_n.jpg?_nc_cat=102&_nc_sid=b96e70&_nc_ohc=XEH-7gNWM0kAX8a-sdO&_nc_ht=scontent-lim1-1.xx&oh=7eacf38d0f38256837e27a4814288919&oe=5EE11590"
                class="img-fluid" alt="">
                <div class="modaltext text-white">
                  <h2>Recuerda que</h2><h2 style="text-transform: uppercase;">Registrarse</h2><br>
                  <p>Atención al detalle de un diseñador responsabilidad profesional 
                  para que solucione sus fallos de redacción</p>
                </div>         
              </div>
            </div>
          </div>
        </div>
        <!--<div class="modal-footer"></div>-->
      </div>
   
    </div>
    
  </div>


  
  <!--fin modal-->

<!--FIN MODAL1-->
