$color-principal:#00B4CC ;
$amarillo:#FAD000;
$gris: #7B90A3;
$verde-azulado: #009CC7;
$blanco:#ffff;
$celeste:rgba(135, 207, 235, 0.527);


.fa-lg{
    color: $color-principal;
}
.list{
    color: $color-principal;
}

.categorias{
    width:80%
}

.boton-slide{
    height: 3rem;
    width: 3rem;
    background-color:$amarillo;
    border-radius: 10px;
}

.carousel-nav-icon {
    height: 30px;
    width: 30px;
 }
 .imagenCategorias{
     width: 7rem !important;
     padding-left: 3rem;
     padding-top: 1rem;
     height: 5rem;
     color: $color-principal;
 }
// este el css del ofertas de liquidacion
.titulo{
    color: $gris;
    font-size:1.3rem;
    font-weight: 900;
    
}


//estilo de titulos de los productos
.titulosproductos{
    color: $gris;
    font-size:1.3rem;
    font-weight: 700;

}

//tectoprecio
.textoprecio{
    color: red;
    font-size:1.3rem;
    font-weight: 600;
}


//tamaño de los icono

.iconocarrito{
    font-size:1.5rem;
    
}


//estilos del card
.card{
    width:18rem;    
    border-radius: 1rem;
    cursor: pointer;


}
//tmaño del contenedor
/* .contenedor{
    width: 90%;
}
 */
.imagen{
    height: 12rem;
}

//contenedor categorias
.categorias{
    width: 90%;
}



@media screen and (max-width: 768px){
    
    .card-productos{
        width: 11rem;
        height:auto;
        margin-top: 2rem;


    }
    .contenedor{
        width:100%;
       

    }

    .titulosproductos{
        font-size:1rem;
    }

    .textoprecio{
        font-size:1rem;

    }
    .row-estrellitas{
        display:none;
    }
    .imagen{
        height: 8rem;
    }
    .categorias{
        width:100%;
    }
    .fa-lg{
        color: $color-principal;
    }
    .list{
        color: $color-principal;
    }
    
} 


// para pantallas mas pequeños 
@media screen and (min-width: 992px) and (max-width: 1400px) {
    .card-productos{
        width: 13rem;
        height:auto;
       
        display: flex;
        justify-content: center;
        align-content: center;
       


    }
    .contenedor{
        width:90%;
       

    }

    .titulosproductos{
        font-size:1rem;
    }

    .textoprecio{
        font-size:1rem;

    }
    
    .imagen{
        height: 8rem;
    }
    .card-body{
        padding:12px;
    }
    .fa-stack{
        font-size: 0.8rem;
    }
    .categorias{
        width: 100%;
    }
    .fa-lg{
        color: $color-principal;
    }
    .list{
        color: $color-principal;
    }


}


//-------------------------------------------------tiendas cercanas--------------------------------------
//------------------------imagen svg-------
.container-svg{
    display: flex;
    align-items: center;
    height: 100%;
}
.imagenTiendas.titulotienda{
    margin: 0 auto;
    display: block;
}
//-------------fin imagen-------------
//-------------------------
.titulo-tienda{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulotienda{
    margin: 0 auto;
    display: block;
    color: $blanco;
    font-size: 235%; 
    font-weight: 900;
}


.texto-registro{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid;
    color: $blanco;
}
.textoregistro{
    margin: 0 auto;
    display: block;
    color: $blanco;
    
}
//---------------------
@media screen and (min-width: 768px){
    .textos{
        padding-left:0;

    }
    .image-tienda{
        padding-right: 0;
    }

   
}
//---------------------responsive------
@media screen and (max-width: 768px){
    .textos{
        padding-left:0;
    }    
    .texto-registro{
        border-left: none;
    }
    //-----cardnew1--
    .col-delet{
        display: none;
    }
    .logo-circular{
       display: none;

    }
    
   
    //--------
    .smalldescrition{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nombrelegal{
        display: flex;
        justify-content: center;
    }
    .estrellitas{
        display: flex;
        justify-content: center;
    }
}

//----------------------------titulo de los areas --------------
.titulo{
    color: $gris;
    font-size:1.3rem;
    font-weight: 900;
    
}
//-----------------logo de la tienda----
.logo-circular{
    position: relative;
    z-index: 1; 
    width:9rem;
    height:auto;
    border-radius:50%;
    border:1px solid #666;
    
    
}

//------------imagen  de tienda----------
.card-img-top{
    height: 6rem;
}
//-------------
//--------------------------------------------------fin tiendas cercnas-----------------------------------





