$color-principal:#00B4CC ;
$amarillo:#FAD000;
$gris: #7B90A3;
$verde-azulado: #009CC7;


.boton-slide{
    height: 3rem;
    width: 3rem;
    background-color:$amarillo;
    border-radius: 10px;
}

.carousel-nav-icon {
    height: 30px;
    width: 30px;
 }
 .imagenCategorias{
     width: 7rem !important;
     padding-left: 3rem;
     padding-top: 1rem;
     height: 5rem;
     color: $color-principal;
 }
// este el css del ofertas de liquidacion
.titulo{
    color: $gris;
    font-size:1.3rem;
    font-weight: 900;
    
}


//estilo de titulos de los productos
.titulosproductos{
    color: $gris;
    font-size:1.3rem;
    font-weight: 700;

}

//tectoprecio
.textoprecio{
    color: red;
    font-size:1.3rem;
    font-weight: 600;
}


//tamaño de los icono

.iconocarrito{
    font-size:1.5rem;
    
}


//estilos del card
.card{
    width:18rem;    
    border-radius: 1rem;
    cursor: pointer;


}
//tmaño del contenedor
/* .contenedor{
    width: 90%;
}
 */
.imagen{
    height: 12rem;
}

//contenedor categorias
.categorias{
    width: 90%;
}



@media screen and (max-width: 768px){
    
    .card-productos{
        width: 11rem;
        height:auto;
        margin-top: 2rem;


    }
    .contenedor{
        width:100%;
       

    }

    .titulosproductos{
        font-size:1rem;
    }

    .textoprecio{
        font-size:1rem;

    }
    .row-estrellitas{
        display:none;
    }
    .imagen{
        height: 8rem;
    }
    
} 


// para pantallas mas pequeños 
@media screen and (min-width: 992px) and (max-width: 1400px) {
    .card-productos{
        width: 13rem;
        height:auto;
       
        display: flex;
        justify-content: center;
        align-content: center;
       


    }
    .contenedor{
        width:90%;
       

    }

    .titulosproductos{
        font-size:1rem;
    }

    .textoprecio{
        font-size:1rem;

    }
    
    .imagen{
        height: 8rem;
    }
    .card-body{
        padding:12px;
    }
    .fa-stack{
        font-size: 0.8rem;
    }
}








