<br><br><br><br><br>
<app-post></app-post>

<!--login modal-->
<app-login></app-login>
<!--fin login modal-->

<div>
    <button type="button" class="btn btn-success" routerLink="/registros">Success</button>

</div>
<button type="button" class="btn btn-success" routerLink="/registros">Success</button>
<br><br><br>

<button type="button" class="btn btn-success" routerLink="/verificartienda">verificar tienda</button>

 <br>

<button type="button" class="btn btn-success" routerLink="/paneladministracion">panel de administracion</button>
