<br><br><br>

<div class="container-fluid contenedor" *ngFor="let producto of product">
    <div class="row" >
        <div class="col-sm-2 imagenespequeñas">
            <div>
                <img src="{{producto.fotouno}}" alt="..." class="img-fluid img-thumbnail mt-3 image">
            </div>
            <div>
                <img src="{{producto.fotosdos}}" alt="..." class="img-fluid img-thumbnail mt-3 image">
            </div>
            <div>
                <img src="{{producto.fototres}}" alt="..." class="img-fluid img-thumbnail mt-3 image">
            </div>
            <div>
                <img src="{{producto.fotocuatro}}" alt="..." class="img-fluid img-thumbnail mt-3 image">
            </div>
            
            
            
            


        </div>
        <div class="col-sm-5">
            <div class="container border my-5" style="width: 90%; border-radius: 1rem;">
                <img src="{{producto.fotouno}}" alt="..." class="img-fluid">
            </div>
           


        </div>
        <div class="col-sm-5 mt-4">

            
                <div class="row ">                  
                    <span class="titulo">{{producto.titulo}}</span>
                    <star-rating  class="estrellitas ml-3" value="{{producto.puntaje}}" totalstars="5" checkedcolor="gold" uncheckedcolor="grey" size="20px" readonly="false" (rate)="onRate($event)"></star-rating>
                                
                </div>

                
                <div class="row mt-3">                
                    <span class="subtitulo">Tienda :</span>
                    <span class="subtitulo ml-2">Artemise</span>
                    <star-rating  class="estrellitas ml-2" value="3" totalstars="5" checkedcolor="gold" uncheckedcolor="grey" size="20px" readonly="false" (rate)="onRate($event)"></star-rating>
                    <a style="color:#009CC7" class="ml-2"><u>Visitar tienda</u></a>     
                
                </div>  

                <div class="row">
                    <label class="textoprecio">USD {{producto.precio}}</label>
                </div>

                <div class="row">
                    <div class="dropdown">
                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Color
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>

                      <div class="dropdown">
                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Talla
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                      
                </div>

                <div class="row mt-4">
                    <div class="col-sm-2 mt-4">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                          </select>
                    </div>
                    <div class="col mt-2 d-flex">
                        <button type="button" class="btn btn-block buttoncart"><i class="fas fa-cart-arrow-down mr-3 iconocarrito"></i> <span class="letracarrito ml-4">Añadir al carrito</span></button>
                    </div>
                </div>

                <div class="row mt-3">
                    <span class="subtitulo">Descripcion general :</span>                   

                </div>

                <div class="row mt-3">
                    <span class="texto">{{producto.descripciongeneral}} </span>
                </div>


                
                
    



        </div>
    </div>
</div>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
