<br><br><br>

<div class="container-fluid contenedor">
    <div class="row" *ngFor="let product of producto">
        <div class="col-sm-2 imagenespequeñas">
            <div>
                <img src="{{product.data.fotouno}}" alt="..." class="img-fluid img-thumbnail mt-3 image" (click)="cambiarimagen(product.data.fotouno)" style="cursor: pointer;">
            </div>
            <div>
                <img src="{{product.data.fotosdos}}" alt="..." class="img-fluid img-thumbnail mt-3 image" (click)="cambiarimagen(product.data.fotosdos)" style="cursor: pointer;">
            </div>
            <div>
                <img src="{{product.data.fototres}}" alt="..." class="img-fluid img-thumbnail mt-3 image" (click)="cambiarimagen(product.data.fototres)" style="cursor: pointer;">
            </div>
            <div>
                <img src="{{product.data.fotocuatro}}" alt="..." class="img-fluid img-thumbnail mt-3 image" (click)="cambiarimagen(product.data.fotocuatro)" style="cursor: pointer;">
            </div>
            
            
            
            


        </div>
        <div class="col-sm-5">
            <div class="container border my-5" style="width: auto; border-radius: 1rem;text-align: center;">
                <img src="{{fotoproduct}}" alt="..." class="img-fluid">
                
                
            </div>
           


        </div>
        <div class="col-sm-5 mt-4">

            
                <div class="row ">                  
                    <span class="titulo">{{product.data.titulo}}</span>
                    <star-rating  class="estrellitas ml-3" value="{{product.data.puntaje}}" totalstars="5" checkedcolor="gold" uncheckedcolor="grey" size="20px" readonly="false" (rate)="onRate($event)"></star-rating>
                                
                </div>

                
                <div class="row mt-3">                
                    <span class="subtitulo">Tienda :</span>
                    <span class="subtitulo ml-2">Artemise</span>
                    <star-rating  class="estrellitas ml-2" value="3" totalstars="5" checkedcolor="gold" uncheckedcolor="grey" size="20px" readonly="false" (rate)="onRate($event)"></star-rating>
                    <a style="color:#009CC7" class="ml-2"><u>Visitar tienda</u></a>     
                
                </div>  

                <div class="row">
                    <label class="textoprecio" *ngIf="product.data.preciodescuento == 0">USD {{product.data.precio}}</label>
                    <label class="textoprecio" *ngIf="product.data.preciodescuento > 0">USD {{product.data.preciodescuento}}</label>
                </div>

                <div class="row" *ngIf="estadocolor">
                    <span class="subtitulo">colores disponibles:</span>
                    <div class="form-group">                        
                        <select class="form-control ml-2" id="exampleFormControlSelect1" (change)=capturarcolor($event.target.value)>
                          <option>Selecciona:</option>
                          <option *ngFor="let color of valorcolor">{{color}}</option>                          
                        </select>
                      </div>       

                      
                </div>

                <div class="row" *ngIf="estadotalla">
                    
                        <span class="subtitulo">tallas disponibles:</span>           
                    
                        <div class="form-group ml-4">                        
                            <select class="form-control" id="exampleFormControlSelect1" (change)=capturartalla($event.target.value)>
                              <option>Selecciona:</option>
                              <option *ngFor="let talla of valortalla">{{talla}}</option>                          
                            </select>
                          </div> 
                    
                    

                </div>

                <div class="row mt-4">
                    <div class="col-sm-3 mt-4">
                        <select class="form-control" id="exampleFormControlSelect1" (change)=capturarcantidad($event.target.value)>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                          </select>
                    </div>
                    <div class="col mt-2 d-flex">
                        <button type="button" class="btn btn-block buttoncart" (click)="anadir(content)"><i class="fas fa-cart-arrow-down mr-3 iconocarrito"></i> <span class="letracarrito ml-4">Añadir al carrito</span></button>
                    </div>
                </div>

                <div class="row mt-3">
                    <span class="subtitulo">Descripcion general :</span>                   

                </div>

                <div class="row mt-3">
                    <span class="texto">{{product.data.descripciongeneral}} </span>
                </div>


                
                
    



        </div>
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title textomodal" id="modal-basic-title">¡EXITO!</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="textomodal">Tu producto se agrego correctamente al carrito de compras</p>
            </div>
            <div class="modal-footer justify-content-center" style="text-align: center;">
              <button type="button" class="btn btn-success btn-block botonmodal" (click)="c('Save click')" routerLink="/carrito"><b>Ir al carrito</b></button>
              <a class="textomodal mt-4" routerLink="/" (click)="c('Save click')"><u>Seguir comprando</u></a>
            </div>
          </ng-template>
       
    </div>
   

    
      
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

